## secured files
/info
/data
!/data/init.sql
!/data/keys
/data/bkp
/data/LOGINS.txt
/data/keys
/data/credentials.json*
!/data/_credentials.json
/data/db_model.mwb*
/deploy.conf*
/.env*
/filestorage/*
/filestorage/userpic/*
!/filestorage/userpic/index.html
!/filestorage/userpic/user.jpg
!/filestorage/index.html
/filestorage/uploaded/*
!/filestorage/uploaded/index.html
/filestorage/media
!/filestorage/demo
/public
!/public/index.html
old-*
_old_*
old_*
*.swp
*/*.swp
*/_old*
/go.mod
/go.sum

## common files
/templates/1*
/123*
/123.go*
.*
!.gitignore
*~
!/main.go
/vendor
/favicon.ico
/*.sublime-project
/*.sublime-workspace
/dist
/activeseo*

